#typing { color:#0B5345; text-decoration: none; font-weight: normal; font-size: 25px;}

#body {
background-color: #EAFAF1;
color: rgba(31,85,74,1);
}
/* made this positioning relative so that I can move the title around*/
#header {
color:#0B5345;
width: auto;
margin-left: none;
margin-right: auto;
position: relative;
}

#logo{
    margin-left: 600px;
    margin-right: auto;
    float: left;
}

#header h1{
margin-left: 500px;
width: 150px;
bottom: 0px;
position: absolute;
}

/*set navbar color*/
#navbar {

color:rgba(31,85,74,1);
}
/*took out bullet points and centered the links*/
#navbar ul{
list-style: none;
text-align: center;
margin-left: 400px;
}
/*puts the links next to each other*/
#navbar li{
display: inline;
}
/*changed the color, size, and spacing*/
#navbar a{
color: rgba(31,85,74,1);
text-decoration: none;
font-size: 25px;
padding-right: 25px;
float: right;
margin-top: 100px;
}
#navbar a:hover{
color: #54C2AE;
}

#content{
padding-left: 10px;
}

#info {
left: 54px;
top: 310px;
margin-left: 350px;
position: absolute;
overflow: visible;
font:GT Flexa VAR;
width: 512px;
white-space: nowrap;
text-align: left;
font-style: normal;
font-weight: bold;
font-size: 50px;
float: left;
color: rgba(31,85,74,1);
padding-left: 50px;
}
#info p{
font-size: 32px;
}
#main{
width:600px;
float: right;
color: #0B5345 ;
font-size: xx-large;
padding-right: 50px;
padding-top: 25px;

}
/*puts each line on top of each other*/
#main label{
display: block;
}
#main textarea{
width: 550px;
height: 400px;
font-size: x-large;
border: rgba(31,85,74,1) 5px solid;
}

#scanning{
background-color: rgba(31,85,74,1);
color: white;
border: none;
padding: 10px 15px;
margin-top: 275px;
margin-left: 625px;
width: 175px;
font-style: GT Flexa VAR;
border-radius: 20px;
padding-top: 12px;
}

/*made the link white*/
#scanning a{
color: white;
text-decoration: none;
}

/*makes the start scanning button red when you hover over it*/
#scanning a:hover{
color:#54C2AE;
}

/*moved footer to the bottom of the page*/
#footer{
background-color: #CACFD2;
width: 100%;
position: absolute;
top: 850px;
}
/*placed the logo and title side to side*/
#footer h1{
display: inline;
margin-left: 5px;
font-style: GT Flexa VAR;
color: #0B5345 ;
}
