#body {
	background-color: #EAFAF1;
	
	color: rgba(31,85,74,1);
}

/* made this positioning relative so that I can move the title around*/ 
#header {
	background-color: #EAFAF1;
	color:#0B5345;
	width: 800px;
	margin-left: none;
	margin-right: auto;
	position: relative;
	

}

#header h1{
	margin-left: 95px;
	width: 150px;
	bottom: 0px;
	position: absolute;
}

#container{
	background-color:#EAFAF1;
}

#content{
	padding-left: 10px;
}

#info {
		left: 54px;
		top: 310px;
		position: absolute;
		overflow: visible;
		font:GT Flexa VAR;
		width: 512px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 78px;
		float: left;
		color: rgba(31,85,74,1)
}

#main{
	width:600px;
	float: right;
	color: #0B5345 ;
	font-size: xx-large;
	

}
/*puts each line on top of each other*/
#main label{
	display: block;
}

#main textarea{
	width: 550px;
	height: 500px;
	font-size: x-large;
	border: rgba(31,85,74,1) 5px solid;
}

#main button{
	background-color: rgba(31,85,74,1);
	color: white;
	border: none;
	padding: 10px 15px;
	width: 175px;
	font-style: GT Flexa VAR;
	border-radius: 20px;
	padding-top: 12px;
	
}


#main button:hover{
	color: red;
}

#footer{
		background-color: #CACFD2;
	    clear: all;
}

