#typing { 
    color:#0B5345; 
    text-decoration: none; 
    font-weight: normal; 
    font-size: 25px;
    text-align: center;
    margin-top: 270px;
}

h1{
    color: rgba(31,85,74,1);
    text-align: center;
}

#caption{
    color: rgba(31,85,74,1);
    text-align: center;
    font-size: 30px;
}

.content{
	padding-left: 10px;
}


#body {
background-color: #EAFAF1;
color: rgba(31,85,74,1);
}
/* made this positioning relative so that I can move the title around*/
#header {
color:#0B5345;
width: auto;
position: relative;
}

#logo{
    margin-left: 33%;
    float: left;
    padding-bottom: 20px;
}

#header h1{
    float: left;
    padding-top: 15px;
    margin-left: 30px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*set navbar color*/
#navbar {
color:rgba(31,85,74,1);
}

/*took out bullet points and centered the links*/
#navbar ul{
list-style: none;
text-align: center;
margin-left: 400px;
}

/*puts the links next to each other*/
#navbar li{
display: inline;
}

/*changed the color, size, and spacing*/
#navbar a{
color: rgba(31,85,74,1);
text-decoration: none;
font-size: 20px;
padding-right: 30px;
float: right;
margin-top: 45px;
}

#navbar a:hover{
color: #8fcdf1;
}

hr {
    width: 100%;
    background-color: rgba(31,85,74,1);
    border-color: rgba(31,85,74,1);
    height: .5px;
}

#info {
left: 54px;
top: 200px;
margin-left: 350px;
position: absolute;
overflow: visible;
font:GT Flexa VAR;
width: 45%;
white-space: nowrap;
text-align: center;
font-style: normal;
font-weight: bold;
color: rgba(31,85,74,1);
}

#info p{
font-size: 50px;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


#txt{
    width:650px;
    margin-right: 26%;
	color: #0B5345 ;
    height: 300px;
    border: gray;
    float: right;
    font-size: x-large;
    padding-right: 25px;
    padding-left: 20px;
    padding-top: 30px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    
}

/*puts each line on top of each other*/
#main label{
display: block;
}


#scanning{
background-color: #1F554A;
color: white;
border: none;
padding: 10px 15px;
margin-top: 20px;
margin-left: 655px;
width: 125px;
font-style: GT Flexa VAR;
border-radius: 20px;
padding-top: 12px;
}

/*made the link white*/
#scanning a{
color: white;
text-decoration: none;
}

/*makes the start scanning button red when you hover over it*/
#scanning a:hover{
color:#8fcdf1;
}

/*moved footer to the bottom of the page*/
#footer{
    width: 99%;
    position: absolute;
    top: 760;
    }

/*placed the logo and title side to side*/
#footer h1{
display: inline;
margin-left: 5px;
font-style: GT Flexa VAR;
color: #0B5345 ;
}

#social{
    float: right;
    margin-top: 44%;
}


#design{
    margin-top: 50%;
}

/* class for when the user types nothing in the box*/
.error {
    color: rgb(240, 11, 11);
    padding: 5px;
    margin: 5px;
  }

  mark{
    background: orange;
    color: black;
}

/*moves the start scanning heading to the left*/
#userInput-heading{
    float: left;
    width: 50%;
    
}
/*moves the start scanning heading to the left*/
#userInput-heading h1{
    text-align: left;
    padding-left: 1em;
}
/*moves the all alerts heading to the left*/
#alert-heading{
    float: right;
    width: 50%;
    
}
/*moves the all alerts heading to the left*/
#alert-heading h1{
    text-align: left;
    padding-left: 1em;
}

/* css for the userinput text in the results section*/
#test{
    width: 50%;
    font-size: 18px;
    color: black;
    padding-left: 1.4em;
    padding-right: 1.4em;
    line-height: 2em;

}

#alert p{
    padding: 0.5em 1em;
    background: white;
    margin: 1.5em 0;
    border-radius: 20px;
}
