*{
  margin: 0;
  padding: 0;
}


#recording-instructions{
  text-align: center;
  padding-top: 3%;
}

#container{
  z-index: 1;
}

#navi{

  width: 100%; /* Full width */
  z-index: 800;
  font-family: 'Rubik';
position: absolute;
}

html {
  scroll-behavior: smooth;
}

#menu {
  margin-left: 1%;
  margin-top: 1%;
  font-size: small;
}

#menu a {
  color: #0B5345;
  text-decoration: none;
}

#menu a:hover{
  color:#EFDE97;
}

#caption{
    color: rgba(31,85,74,1);
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik';
}

.content{
    padding-left: 10px;
}


#body {
background-color: #EAFAF1;
color: rgba(31,85,74,1);
}
/* made this positioning relative so that I can move the title around*/

#logo{
  margin-top: 1%;
  margin-left: 42%;
  padding-bottom: 20px;
position: relative;

}


hr {
    width: 100%;
    background-color: rgba(31,85,74,1);
    border-color: rgba(31,85,74,1);
    height: .5px;
}

#info {
left: 54px;
top: 200px;
margin-left: 350px;
position: absolute;
overflow: visible;
font:GT Flexa VAR;
width: 45%;
white-space: nowrap;
text-align: center;
font-style: normal;
font-weight: bold;
color: rgba(31,85,74,1);
}

#info p{
font-size: 50px;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


#txt{
    width:45%;
    margin-top: 5%;
    margin-left: 27.55%;
  color: #0B5345 ;
  border-color: #0B5345 ;;
    height: 35%;
    float: right;
    font-size: x-large;
    padding-right: 25px;
    padding-left: 20px;
    padding-top: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    overflow: hidden;
    outline: none;
    position: absolute;
    z-index: 10;
    resize: none; /*remove the resize handle on the bottom right*/


    border-radius: 40px;
}

/*puts each line on top of each other*/
#main label{
display: block;
}


#scanning{
background-color: #EFDE97;
color: white;
border: none;
padding: 10px 15px;
width: 125px;
font-family: 'Rubik';
border-radius: 20px;
padding-top: 12px;
margin-left: 5%;
}

#record{
  background-color: #EFDE97;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 125px;
  font-family: 'Rubik';
  border-radius: 20px;
  padding-top: 12px;
  margin-left: 15%;
  }

  #pause{
    background-color: #EFDE97;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 125px;
    font-family: 'Rubik';
    border-radius: 20px;
    padding-top: 12px;
    margin-left: 5%;
    }

/*made the link white*/
#scanning a{
color: #0B5345;
text-decoration: none;
font-family: 'Rubik';
}

/*makes the start scanning button red when you hover over it*/
#scanning a:hover{
color: white;
}

/*moved footer to the bottom of the page*/
footer{
    width: 99%;
    position: absolute;

    }

/*placed the logo and title side to side*/
#footer h1{
display: inline;
margin-left: 5px;
font-style: GT Flexa VAR;
color: #0B5345 ;
}

#social{
    float: right;
    margin-top: 15%;
}



/* class for when the user types nothing in the box*/
.error {
    color: rgb(240, 11, 11);
    padding: 5px;
    margin: 5px;
  }

  mark{
    background: #EFDE97;
    color: black;
}

  mark.secondary {
  padding: 0;
   background-color: #FDAD5D;
  }

  mark.three {
    padding: 0;
     background-color: rgb(190, 65, 65);
    }
  

/*moves the start scanning heading to the left*/
#userInput-heading{
  padding-top: 4%;

    float: left;
    width: 50%;
    margin-bottom: 8%;
}
/*moves the start scanning heading to the left*/
#userInput-heading h1{
    text-align: center;
    padding-left: 1.5em;
    font-family: 'Rubik';
    margin-bottom: 4%;
    position: relative;
   
}
/*moves the all alerts heading to the left*/
#alert-heading{

    float: right;
    width: 50%;
    font-family: 'Rubik';
    position: relative;
    z-index: 2;
}
/*moves the all alerts heading to the left*/
#alert-heading h1{
    text-align: center;
    padding-left: 1em;
    font-family: 'Rubik';
    float: right;
    margin-right: 9em;
    position: relative;
    z-index: 2;
}

/* css for the userinput text in the results section*/
#test{
  width: 70%;
  font-size: 18px;
  color: black;
 padding: 1.5em;
  line-height: 1.5em;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 8px 5px lightgrey;
  font-family: 'Rubik';
  margin-left: 5em;
  visibility: hidden;
}


#alert p{
    margin-top: 40%;
    padding: 1.5em;
    background: white;
    margin: 1.5em 0;
    border-radius: 20px;
    box-shadow: 0px 8px 5px lightgrey;
    width: 50%;
    float: right;
    margin-right: 10em;

    position: relative;
}



#bee-arrow {
    width: 15%;
    font-family: 'Rubik';
    color: rgba(31,85,74,1);
    padding-left: 18%;
    margin-bottom: 20%;
    padding-top: 1em;
    position: absolute;
    z-index: 2;
    
}

#bee {
  margin-right: 25%;
  transform: rotate(60deg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2;
}

#buttonBack{
    width: 44.5%;
    margin-left: 28.3%;
    background: white;
    padding-bottom: 2%;
    padding-top: 10%;
    border-radius: 40px;
    float: right;
    position: absolute;
    z-index: 8;
    padding-left: .2%;
    padding-right: .25%;
   margin-top: 15%;
}


#greenbox{
    background-color:rgba(31,85,74,1);
    height: 16em;
    float: left;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 15%;
 
}

#greensquare{
  background-color: rgba(31,85,74,1);
  margin-top: 4.6%;
  height: 16em;
  position: relative;
  width: 46%;
  z-index: 5;
  margin-left: 27.78%;
  float: left;
    border-radius: 40px;
  
}


#greenbox p{
  color:rgba(31,85,74,1);
  
}

#greensquare p{
  color:rgba(31,85,74,1);
  
}

#circle{
  position: absolute;
  z-index: 2000;
  margin-top: 10.5%;
  margin-left: 66.5%;
  background-color: #EFDE97;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  visibility: hidden;
}

#circle p{
  margin-top: 25%;
  color: rgba(31,85,74,1);
  font-family: 'Rubik';
}

#key {
  margin-top: 4%;
  visibility: hidden;
  margin-left: 15.5%;
  margin-bottom: 1%;
}


#hide{
  position: absolute;
  z-index: 1999;
  margin-top: 10.8%;
  margin-left: 46%;
  margin-bottom: 10%;
  background-color: white;
  width: 18%;
  display: none;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}

#design{
  display: none;
}


#circle:hover + #hide {
  display: block;
}

#gradient{
  background-color: rgba(31,85,74,1);
  background-image: linear-gradient(rgba(31,85,74,1), 3%,  #EBF7FD);
  padding-bottom: 10%;
  margin-top: 32.9%;
}

#holdStuff{
  display: none;
}

@media screen and (max-width:415px) {
  #logo{
    margin-left: 20%;
  }

  .content h1{
    font-size: 150%;
    margin-right: 14%;
  }
  #txt{
    font-size: small;
    width: 55%;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15%;
    
  }
  #greenbox{
    height: 8em;
    margin-top: 22%;
  }
  #greensquare{
    height: 8em;
    width:56%;
    margin-left: 17%;
  }
  #buttonback{
    margin-top: 32%;
    width: 54.5%;
    margin-left: 17.5%;
    padding-top: 7%;
  }
  #scanning{
    padding: 5px 10px;
    font-size: 8px;
    width: 88px;
    margin-left: 30%;
  }
  #green-arrow{
    padding-left: 2%;
    font-size: 8px;
  }
}
#bee1{
  position: absolute;
  z-index: 2;
  margin-top: 11%;
  width: 3%;
  margin-left: 1%;
}
#bee2{
  position: absolute;
  z-index: 2;
  margin-top: 20%;
  width: 3%;
  margin-left: 50%;
}
#bee3{
  position: absolute;
  z-index: 2;
  margin-top: 12%;
  width: 3%;
  margin-left: 76%;
}
#bee4{
  position: absolute;
  z-index: 2;
  margin-top: 10%;
  width: 3%;
  margin-left: 50%;
}
#bee5{
  position: absolute;
  z-index: 2;
  margin-top: 30%;
  width: 3%;
  margin-left: 87%;
}
#bee6{
  position: absolute;
  z-index: 2;
  margin-top: 14%;
  width: 3%;
  margin-left: 50%;
}
#bee7{
  position: absolute;
  z-index: 2;
  margin-top: 35%;
  width: 3%;
  margin-left: 13%;
}